# Autograding for Python/Jupyter/Excel using Otter Grader & GitHub Classroom or Blackboard

Please see the readme for initial installation and setup instructions prior to running the notebook [here](https://github.com/jkuruzovich/otter_helper/blob/master/README.md). 

This notebook will allow you to grade an Excel assignment and upload the results to Blackboard.

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Set Course and Assignment
 Update set the `course` and `assignment_id` variables to be consistent with the `config.yml` file. 
 
 To run the sample assignments, just keep `course` set to `sample-class` and select `blackboard-excel` for the `assignment_id`.

In [3]:
#set to what you want to grade
course = 'qm' #Sample assignments. 
assignment_id = 'assignment1'  #Choose blackboard-excel or blackboard-github

### Set and Load the Configuration
This loads the configuration from the `/config/course/config.yml` file.

In [4]:
from pathlib import Path
import configparser, sys, os, importlib
import pandas as pd
 
cwd_dir = Path.cwd() #For running locally
base_dir = cwd_dir.parent #For running locally
#base_dir='/content/drive/My Drive/autograding'
modules_path = base_dir / 'modules' 
sys.path.append('../modules') # Not sure why appending the mudles path didn't work. 

#Load the autograding library
import autograde as ag
importlib.reload(ag)
cf = ag.get_config(course, assignment_id, base_dir)
cf

{'class_name': 'Quantitative Mangement',
 'class_id': 'qm',
 'message_complete': 'Your submission was successfully received and graded.<br>',
 'message_incomplete': 'If you get this message it is because you did not submit assignment. Please see the TA.<br>',
 'num_containers': 4,
 'ignore': ['.ipynb_checkpoints', '.DS_Store'],
 'requirements': 'config/sample-class/requirements.txt',
 'roster': 'config/qm/roster.xlsx',
 'assignments': {'assignment1': {'name': 'assignment1',
   'type': 'bb',
   'extension': '.xlsx',
   'solution_path': 'config/qm/assignment1/solution.xlsx',
   'solution_sheet': 'Answers',
   'bb_column': 'ASSIGNMENT'}},
 'grade_assignment': 'assignment1',
 'base_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper'),
 'assignments_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/assignments/qm/assignment1'),
 'roster_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/config/qm/roster.xlsx'),
 'grades_output_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/output/qm/assignment1'),
 'json_output_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/output/qm/assignment1/json'),
 'tmp_path': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/tmp'),
 'grade_file': PosixPath('/Users/jasonkuruzovich/GitHub/otter_helper/tmp/final_grades.csv')}

### Prepare Grading
The will copy the assignent files either from the Blackboard or the GitHub classroom files in the `/assignments/course/assignment` folder to the `/tmp/` folder. It will also generate the needed `meta.json` file which maps the identifier (GitHub/Student ID) to the submission file. 

*For BlackBoard*
This makes the assumption that for files collected via Blackboard, each assignment file will be in the form `assignment_identifier_submissiondate`. The identifier is pulled out.  If your pattern is different, minor changes might be needed. [TBD, include a pattern in config.]

*For Github*
This makes the assumption that for files collected via Github Classroom, each assignment is in a different directory, where the directory name is the student's GitHub id. This GitHub id is used as the identifier for grading and matched with the student id after grading. 

The `cleaup=True` option just deletes the tmp folder before starting and is recommended.

In [5]:
files=ag.prepare_grade(cf,  cleanup=True)  
files

[{'identifier': 'wisnow',
  'filename': 'Assignment 1_wisnow_attempt_2020-09-08-10-18-54_Assignment 1.xlsx'},
 {'identifier': 'orefij',
  'filename': 'Assignment 1_orefij_attempt_2020-09-09-20-41-06_hm_1_v2_student.xlsx'},
 {'identifier': 'chassb',
  'filename': 'Assignment 1_chassb_attempt_2020-09-10-13-26-31_hm_1_v2_Chasse_Brandon.xlsx'},
 {'identifier': 'liy62',
  'filename': 'Assignment 1_liy62_attempt_2020-09-10-21-36-31_hm_1_v2_student.xlsx'},
 {'identifier': 'watsoe4',
  'filename': 'Assignment 1_watsoe4_attempt_2020-09-10-22-18-16_hm_1_v2_student (Autosaved).xlsx'},
 {'identifier': 'vazqul2',
  'filename': 'Assignment 1_vazqul2_attempt_2020-09-10-16-53-02_ASSMT1.xlsx'},
 {'identifier': 'capelm2',
  'filename': 'Assignment 1_capelm2_attempt_2020-09-10-21-04-48_hm_1_Mikayla Capelle.xlsx'},
 {'identifier': 'olsenj',
  'filename': 'Assignment 1_olsenj_attempt_2020-09-09-22-49-05_QM - Assignment 1 - Joshua Olsen.xlsx'},
 {'identifier': 'thomam12',
  'filename': 'Assignment 1_thomam12_attempt_2020-09-11-10-30-06_Homework 1.xlsx'},
 {'identifier': 'yangx16',
  'filename': 'Assignment 1_yangx16_attempt_2020-09-08-20-01-33_Assignment1 - Xiuwawa Yang.xlsx'},
 {'identifier': 'naclem',
  'filename': 'Assignment 1_naclem_attempt_2020-09-10-12-11-55_HW1 Michael Naclerio.xlsx'},
 {'identifier': 'chaman',
  'filename': 'Assignment 1_chaman_attempt_2020-09-10-21-20-23_Assignment1_QuantMethods.xlsx'},
 {'identifier': 'jiangs7',
  'filename': 'Assignment 1_jiangs7_attempt_2020-09-10-12-10-46_hm_1_v2_shan jiang.xlsx'},
 {'identifier': 'byersj2',
  'filename': 'Assignment 1_byersj2_attempt_2020-09-09-12-35-43_Q methods HW1.xlsx'},
 {'identifier': 'lopeza8',
  'filename': 'Assignment 1_lopeza8_attempt_2020-09-10-09-45-19_hm_1_v2_Lopez.xlsx'},
 {'identifier': 'wue6',
  'filename': 'Assignment 1_wue6_attempt_2020-09-09-23-33-58_hm_1_v2_Eddie Wu.xlsx'},
 {'identifier': 'zout',
  'filename': 'Assignment 1_zout_attempt_2020-08-31-19-44-12_hm_1_v2_Zou,Tina.xlsx'},
 {'identifier': 'schrak2',
  'filename': 'Assignment 1_schrak2_attempt_2020-09-10-09-33-47_HW 1 Quantitative Methods.xlsx'},
 {'identifier': 'clarke4',
  'filename': 'Assignment 1_clarke4_attempt_2020-09-10-21-31-15_hm_1_v2_student.xlsx'},
 {'identifier': 'mahonp',
  'filename': 'Assignment 1_mahonp_attempt_2020-09-11-12-22-31_hm_1_v2_Patrick_Mahoney.xlsx'},
 {'identifier': 'iserne',
  'filename': 'Assignment 1_iserne_attempt_2020-09-07-14-20-06_hm_1_v2_EverettIsernia.xlsx'},
 {'identifier': 'morfoc2',
  'filename': 'Assignment 1_morfoc2_attempt_2020-09-09-20-12-06_hm_1_v2_student.xlsx'},
 {'identifier': 'friisl',
  'filename': 'Assignment 1_friisl_attempt_2020-09-10-21-09-04_HW 1 Lilli Friis-Hansen.xlsx'},
 {'identifier': 'zhengd',
  'filename': 'Assignment 1_zhengd_attempt_2020-09-10-17-42-24_hm_1_v2_student (1).xlsx'},
 {'identifier': 'wangp11',
  'filename': 'Assignment 1_wangp11_attempt_2020-09-10-06-28-43_hw1_Pinhan_Wang.xlsx'},
 {'identifier': 'roberc6',
  'filename': 'Assignment 1_roberc6_attempt_2020-09-11-00-02-03_hm_1_v2_student.xlsx'},
 {'identifier': 'yuc6',
  'filename': 'Assignment 1_yuc6_attempt_2020-09-08-19-54-08_hm_1_v2_student.xlsx'},
 {'identifier': 'baoz2',
  'filename': 'Assignment 1_baoz2_attempt_2020-09-10-19-27-59_hm_1_v2_Zhihao_Bao.xlsx'},
 {'identifier': 'thompn5',
  'filename': 'Assignment 1_thompn5_attempt_2020-09-10-20-47-57_hm_1_v2_nadya thompson (1).xlsx'},
 {'identifier': 'sequea',
  'filename': 'Assignment 1_sequea_attempt_2020-09-10-09-58-39_hm_1_v2_student.xlsx'},
 {'identifier': 'liua7',
  'filename': 'Assignment 1_liua7_attempt_2020-09-10-11-51-34_AlecLiu hw 1.xlsx'},
 {'identifier': 'smithm23',
  'filename': 'Assignment 1_smithm23_attempt_2020-09-08-14-35-55_MargaretSmith_661639717_HW1_QuantitativeMethods.xlsx'},
 {'identifier': 'lombap',
  'filename': 'Assignment 1_lombap_attempt_2020-09-08-11-35-18_Assignment 1.xlsx'},
 {'identifier': 'biense2',
  'filename': 'Assignment 1_biense2_attempt_2020-09-09-18-25-46_hm_1_v2_EricBienstock.xlsx'},
 {'identifier': 'chenz20',
  'filename': 'Assignment 1_chenz20_attempt_2020-09-10-22-46-30_hm_1_v2_DavidChen.xlsx'},
 {'identifier': 'weissa7',
  'filename': 'Assignment 1_weissa7_attempt_2020-09-08-12-02-03_hw1.xlsx'},
 {'identifier': 'reilla3',
  'filename': 'Assignment 1_reilla3_attempt_2020-09-10-13-23-59_Quantitative Methods HW1.xlsx'},
 {'identifier': 'angrid2',
  'filename': 'Assignment 1_angrid2_attempt_2020-09-08-20-39-14_QauntStarter.xlsx'},
 {'identifier': 'curcij',
  'filename': 'Assignment 1_curcij_attempt_2020-09-10-16-08-21_HW1 QMethods.xlsx'},
 {'identifier': 'wangx44',
  'filename': 'Assignment 1_wangx44_attempt_2020-09-08-21-41-46_assignment 1.xlsx'},
 {'identifier': 'cohenj5',
  'filename': 'Assignment 1_cohenj5_attempt_2020-09-10-18-26-27_hm_1_v2_Cohen.xlsx'},
 {'identifier': 'tanh2',
  'filename': 'Assignment 1_tanh2_attempt_2020-09-03-19-20-02_Hemin Tan 661849064 hm_1_v2_student.xlsx'}]

### Running the Grader 

This will run a simple autograder based on excel. 

Once this runs there will be an output file in `./tmp/final_grades.csv`.  If you have added your solution to this, it is a good practice to double check that your solution passed all of the associate tests. 

If you find that nearly all students missed a test, it may also signal an issue with the solution. You can always adjust the solution and rerun.

In [9]:
grades= ag.excel_grader(cf)
grades

Assignment 1_wisnow_attempt_2020-09-08-10-18-54_Assignment 1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_orefij_attempt_2020-09-09-20-41-06_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_chassb_attempt_2020-09-10-13-26-31_hm_1_v2_Chasse_Brandon.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_liy62_attempt_2020-09-10-21-36-31_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_watsoe4_attempt_2020-09-10-22-18-16_hm_1_v2_student (Autosaved).xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Error opening  Assignment 1_vazqul2_attempt_2020-09-10-16-53-02_ASSMT1.xlsx
Assignment 1_capelm2_attempt_2020-09-10-21-04-48_hm_1_Mikayla Capelle.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_olsenj_attempt_2020-09-09-22-49-05_QM - Assignment 1 - Joshua Olsen.xlsx Index(['variable', 'question', 'answer', 'comments', 'unnamed: 4',
       'unnamed: 5', 'unnamed: 6', 'unnamed: 7', 'unnamed: 8', 'unnamed: 9',
       'unnamed: 10', 'unnamed: 11'],
      dtype='object')
Assignment 1_thomam12_attempt_2020-09-11-10-30-06_Homework 1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_yangx16_attempt_2020-09-08-20-01-33_Assignment1 - Xiuwawa Yang.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_naclem_attempt_2020-09-10-12-11-55_HW1 Michael Naclerio.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_chaman_attempt_2020-09-10-21-20-23_Assignment1_QuantMethods.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_jiangs7_attempt_2020-09-10-12-10-46_hm_1_v2_shan jiang.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_byersj2_attempt_2020-09-09-12-35-43_Q methods HW1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_lopeza8_attempt_2020-09-10-09-45-19_hm_1_v2_Lopez.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_wue6_attempt_2020-09-09-23-33-58_hm_1_v2_Eddie Wu.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_zout_attempt_2020-08-31-19-44-12_hm_1_v2_Zou,Tina.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_schrak2_attempt_2020-09-10-09-33-47_HW 1 Quantitative Methods.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_clarke4_attempt_2020-09-10-21-31-15_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_mahonp_attempt_2020-09-11-12-22-31_hm_1_v2_Patrick_Mahoney.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_iserne_attempt_2020-09-07-14-20-06_hm_1_v2_EverettIsernia.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_morfoc2_attempt_2020-09-09-20-12-06_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_friisl_attempt_2020-09-10-21-09-04_HW 1 Lilli Friis-Hansen.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_zhengd_attempt_2020-09-10-17-42-24_hm_1_v2_student (1).xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_wangp11_attempt_2020-09-10-06-28-43_hw1_Pinhan_Wang.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_roberc6_attempt_2020-09-11-00-02-03_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_yuc6_attempt_2020-09-08-19-54-08_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_baoz2_attempt_2020-09-10-19-27-59_hm_1_v2_Zhihao_Bao.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_thompn5_attempt_2020-09-10-20-47-57_hm_1_v2_nadya thompson (1).xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_sequea_attempt_2020-09-10-09-58-39_hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_liua7_attempt_2020-09-10-11-51-34_AlecLiu hw 1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_smithm23_attempt_2020-09-08-14-35-55_MargaretSmith_661639717_HW1_QuantitativeMethods.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_lombap_attempt_2020-09-08-11-35-18_Assignment 1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_biense2_attempt_2020-09-09-18-25-46_hm_1_v2_EricBienstock.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_chenz20_attempt_2020-09-10-22-46-30_hm_1_v2_DavidChen.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_weissa7_attempt_2020-09-08-12-02-03_hw1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_reilla3_attempt_2020-09-10-13-23-59_Quantitative Methods HW1.xlsx Index(['variable', 'question', 'answer', 'comments', 'unnamed: 4',
       'unnamed: 5', 'unnamed: 6', 'unnamed: 7', 'unnamed: 8'],
      dtype='object')
Assignment 1_angrid2_attempt_2020-09-08-20-39-14_QauntStarter.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_curcij_attempt_2020-09-10-16-08-21_HW1 QMethods.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_wangx44_attempt_2020-09-08-21-41-46_assignment 1.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_cohenj5_attempt_2020-09-10-18-26-27_hm_1_v2_Cohen.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')
Assignment 1_tanh2_attempt_2020-09-03-19-20-02_Hemin Tan 661849064 hm_1_v2_student.xlsx Index(['variable', 'question', 'answer', 'comments'], dtype='object')

,identifier,file,sub-C1A,answer-C1A,pos-C1A,pts-C1A,sub-C1B,answer-C1B,pos-C1B,pts-C1B,...,answer-C3C,pos-C3C,pts-C3C,sub-C3D,answer-C3D,pos-C3D,pts-C3D,total,possible,STATUS
0,wisnow,Assignment 1_wisnow_attempt_2020-09-08-10-18-5...,"x=2,000",2000.0,3.0,NaN,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,it would take 18.26 years to break even at 50 ...,5.619951,3.0,NaN,9.0,33.0,GRADED
1,orefij,Assignment 1_orefij_attempt_2020-09-09-20-41-0...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,NaN,It would be very similar to the 45 passengers ...,5.619951,3.0,NaN,12.0,33.0,GRADED
2,chassb,Assignment 1_chassb_attempt_2020-09-10-13-26-3...,2000 items,2000.0,3.0,NaN,530 additonal items,529.0,3.0,NaN,...,45.0,3.0,NaN,"This would make first year losses at $986,475,...",5.619951,3.0,NaN,3.0,33.0,GRADED
3,liy62,Assignment 1_liy62_attempt_2020-09-10-21-36-31...,2000,2000.0,3.0,3.0,529,529.0,3.0,3.0,...,45.0,3.0,NaN,5 years,5.619951,3.0,NaN,12.0,33.0,GRADED
4,watsoe4,Assignment 1_watsoe4_attempt_2020-09-10-22-18-...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,The town would be able to break even in 5.6 years,5.619951,3.0,NaN,15.0,33.0,GRADED
5,vazqul2,Assignment 1_vazqul2_attempt_2020-09-10-16-53-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FILE-ERROR
6,capelm2,Assignment 1_capelm2_attempt_2020-09-10-21-04-...,2000 items/month,2000.0,3.0,NaN,530 items/month,529.0,3.0,NaN,...,45.0,3.0,NaN,Break Even at 5.62 years if they went up to 50...,5.619951,3.0,NaN,0.0,33.0,GRADED
7,olsenj,Assignment 1_olsenj_attempt_2020-09-09-22-49-0...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,NaN,The service will still make a profit in the 6 ...,5.619951,3.0,NaN,12.0,33.0,GRADED
8,thomam12,Assignment 1_thomam12_attempt_2020-09-11-10-30...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,3.0,18.2648,5.619951,3.0,3.0,24.0,33.0,GRADED
9,yangx16,Assignment 1_yangx16_attempt_2020-09-08-20-01-...,2000 items,2000.0,3.0,NaN,529 items,529.0,3.0,NaN,...,45.0,3.0,NaN,5.62 years,5.619951,3.0,NaN,0.0,33.0,GRADED
10,naclem,Assignment 1_naclem_attempt_2020-09-10-12-11-5...,2000 items,2000.0,3.0,NaN,529.412 more items,529.0,3.0,NaN,...,45.0,3.0,NaN,This would increase the time to break even to ...,5.619951,3.0,NaN,0.0,33.0,GRADED
11,chaman,Assignment 1_chaman_attempt_2020-09-10-21-20-2...,"2,000 items",2000.0,3.0,NaN,529 items,529.0,3.0,NaN,...,45.0,3.0,NaN,It would take the town 18.26 years if it avera...,5.619951,3.0,NaN,3.0,33.0,GRADED
12,jiangs7,Assignment 1_jiangs7_attempt_2020-09-10-12-10-...,2000,2000.0,3.0,3.0,2529.41,529.0,3.0,3.0,...,45.0,3.0,NaN,loss increase,5.619951,3.0,NaN,18.0,33.0,GRADED
13,byersj2,Assignment 1_byersj2_attempt_2020-09-09-12-35-...,2000,2000.0,3.0,3.0,320,529.0,3.0,3.0,...,45.0,3.0,NaN,18.26,5.619951,3.0,3.0,21.0,33.0,GRADED
14,lopeza8,Assignment 1_lopeza8_attempt_2020-09-10-09-45-...,2000,2000.0,3.0,3.0,529,529.0,3.0,3.0,...,45.0,3.0,NaN,"With 50 passengers and only 3 trips per bus, t...",5.619951,3.0,NaN,9.0,33.0,GRADED
15,wue6,Assignment 1_wue6_attempt_2020-09-09-23-33-58_...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,0.0,477300,5.619951,3.0,3.0,18.0,33.0,GRADED
16,zout,Assignment 1_zout_attempt_2020-08-31-19-44-12_...,2000 items,2000.0,3.0,NaN,529.41 items,529.0,3.0,NaN,...,45.0,3.0,NaN,"If this were the case, the breakeven point wou...",5.619951,3.0,NaN,3.0,33.0,GRADED
17,schrak2,Assignment 1_schrak2_attempt_2020-09-10-09-33-...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,3.0,18.26,5.619951,3.0,3.0,24.0,33.0,GRADED
18,clarke4,Assignment 1_clarke4_attempt_2020-09-10-21-31-...,2000 items,2000.0,3.0,NaN,530 items,529.0,3.0,NaN,...,45.0,3.0,NaN,This change decreases revenue compared to if t...,5.619951,3.0,NaN,3.0,33.0,GRADED
19,mahonp,Assignment 1_mahonp_attempt_2020-09-11-12-22-3...,2000,2000.0,3.0,3.0,529.41,529.0,3.0,3.0,...,45.0,3.0,NaN,18.26 years,5.619951,3.0,NaN,15.0,33.0,GRADED
20,iserne,Assignment 1_iserne_attempt_2020-09-07-14-20-0...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,3.0,18.26 years,5.619951,3.0,NaN,21.0,33.0,GRADED
21,morfoc2,Assignment 1_morfoc2_attempt_2020-09-09-20-12-...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,NaN,6 years,5.619951,3.0,NaN,15.0,33.0,GRADED
22,friisl,Assignment 1_friisl_attempt_2020-09-10-21-09-0...,Current volume: 2000 items/month,2000.0,3.0,NaN,530 items/month additionally to BE,529.0,3.0,NaN,...,45.0,3.0,NaN,Town would be able to break even in 5.62 years...,5.619951,3.0,NaN,0.0,33.0,GRADED
23,zhengd,Assignment 1_zhengd_attempt_2020-09-10-17-42-2...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,18.26 years to break even which would be less ...,5.619951,3.0,NaN,9.0,33.0,GRADED
24,wangp11,Assignment 1_wangp11_attempt_2020-09-10-06-28-...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,"annual profit is 213525, breakeven time is in...",5.619951,3.0,NaN,9.0,33.0,GRADED
25,roberc6,Assignment 1_roberc6_attempt_2020-09-11-00-02-...,2000 units,2000.0,3.0,NaN,530 units,529.0,3.0,NaN,...,45.0,3.0,0.0,0,5.619951,3.0,0.0,6.0,33.0,GRADED
26,yuc6,Assignment 1_yuc6_attempt_2020-09-08-19-54-08_...,2000,2000.0,3.0,3.0,529,529.0,3.0,3.0,...,45.0,3.0,NaN,5.61995,5.619951,3.0,3.0,21.0,33.0,GRADED
27,baoz2,Assignment 1_baoz2_attempt_2020-09-10-19-27-59...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,NaN,1215,5.619951,3.0,3.0,12.0,33.0,GRADED
28,thompn5,Assignment 1_thompn5_attempt_2020-09-10-20-47-...,2000,2000.0,3.0,3.0,19059,529.0,3.0,3.0,...,45.0,3.0,NaN,B/E Time = 18.26 years,5.619951,3.0,NaN,12.0,33.0,GRADED
29,sequea,Assignment 1_sequea_attempt_2020-09-10-09-58-3...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,NaN,"This will still not be enough to break even, s...",5.619951,3.0,NaN,12.0,33.0,GRADED
30,liua7,Assignment 1_liua7_attempt_2020-09-10-11-51-34...,2000 in current monthly volume,2000.0,3.0,NaN,529 items,529.0,3.0,NaN,...,45.0,3.0,NaN,This would cuase the town to break even in 5.6...,5.619951,3.0,NaN,3.0,33.0,GRADED
31,smithm23,Assignment 1_smithm23_attempt_2020-09-08-14-35...,2000 items/month,2000.0,3.0,NaN,529.41 more items/month,529.0,3.0,NaN,...,45.0,3.0,NaN,"The revenue would increase, the operating cost...",5.619951,3.0,NaN,0.0,33.0,GRADED
32,lombap,Assignment 1_lombap_attempt_2020-09-08-11-35-1...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,3.0,18.26,5.619951,3.0,3.0,24.0,33.0,GRADED
33,biense2,Assignment 1_biense2_attempt_2020-09-09-18-25-...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,This would result in the firm breaking even in...,5.619951,3.0,NaN,15.0,33.0,GRADED
34,chenz20,Assignment 1_chenz20_attempt_2020-09-10-22-46-...,2000,2000.0,3.0,3.0,19058.8,529.0,3.0,3.0,...,45.0,3.0,NaN,5.35328,5.619951,3.0,3.0,18.0,33.0,GRADED
35,weissa7,Assignment 1_weissa7_attempt_2020-09-08-12-02-...,2000,2000.0,3.0,3.0,529 additional items,529.0,3.0,NaN,...,45.0,3.0,NaN,5.6 years,5.619951,3.0,NaN,6.0,33.0,GRADED
36,reilla3,Assignment 1_reilla3_attempt_2020-09-10-13-23-...,2000,2000.0,3.0,3.0,529.41,529.0,3.0,3.0,...,45.0,3.0,NaN,18.26 years to break-even,5.619951,3.0,NaN,18.0,33.0,GRADED
37,angrid2,Assignment 1_angrid2_attempt_2020-09-08-20-39-...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,5.61995,5.619951,3.0,3.0,21.0,33.0,GRADED
38,curcij,Assignment 1_curcij_attempt_2020-09-10-16-08-2...,0,2000.0,3.0,0.0,0,529.0,3.0,0.0,...,45.0,3.0,0.0,0,5.619951,3.0,0.0,0.0,33.0,GRADED
39,wangx44,Assignment 1_wangx44_attempt_2020-09-08-21-41-...,2000,2000.0,3.0,3.0,529.412,529.0,3.0,3.0,...,45.0,3.0,NaN,5.62,5.619951,3.0,3.0,21.0,33.0,GRADED
40,cohenj5,Assignment 1_cohenj5_attempt_2020-09-10-18-26-...,2000,2000.0,3.0,3.0,530,529.0,3.0,3.0,...,45.0,3.0,NaN,18.26yr BEP,5.619951,3.0,NaN,15.0,33.0,GRADED
41,tanh2,Assignment 1_tanh2_attempt_2020-09-03-19-20-02...,2000,2000.0,3.0,3.0,21058.8,529.0,3.0,3.0,...,45.0,3.0,3.0,18.2648,5.619951,3.0,3.0,24.0,33.0,GRADED

### Archive `tmp` Directory and Generate the Upload to Blackboard File

This will archive the `/tmp` directory to the `/output/course/assignment` directory so that you have a persistent copy of the final version.   


This will loop through the students in your roster file (Blackboard tab) and match it with any graded submissions.  For GitHub classroom it will also match the github ID with the student ID. It will then generate the `/output/course/assignment/upload.csv` file which is ready to be uploaded to blackboard. Scores on each test are included in the `Feedback to Learner` column along with the message included in the `config.yml` file.

**It is important to make sure that your `roster.xslx` file is up to date. If a student entered the class late and isn't on the roster, that student's grade won't be updated.**

**It is important to make sure that the `bb_column` in the `config.yml` file matches the column in Blackboard when you download for offline grading.**

In [6]:
#Aggregate JSON files for manual grading. 
blackboard=ag.prepare_blackboard_upload(cf, archive=True)
blackboard

complete: 6
Incomplete: 4
Total: 10
Archiving files in

,Last Name,First Name,Username,Student ID,Last Access,Availability,blackboard_excel_test,Grading Notes,Notes Format,Feedback to Learner,Feedback Format
0,Name,Name,fails3,fails3,2020-08-01 22:08:00,Yes,17.0,NaN,NaN,Your submission was successfully received and ...,HTML
1,Name,Name,passesAll,passesAll,2020-08-01 22:08:00,Yes,20.0,NaN,NaN,Your submission was successfully received and ...,HTML
2,Name,Name,fails2Hidden,fails2Hidden,2020-08-01 22:08:00,Yes,0.0,NaN,NaN,If you get this message it is because you did ...,NaN
3,Name,Name,fails3Hidden,fails3Hidden,2020-08-01 22:08:00,Yes,0.0,NaN,NaN,If you get this message it is because you did ...,NaN
4,Name,Name,fails2,fails2,2020-08-01 22:08:00,Yes,17.0,NaN,NaN,Your submission was successfully received and ...,HTML
5,Name,Name,fails1,fails1,2020-08-01 22:08:00,Yes,17.0,NaN,NaN,Your submission was successfully received and ...,HTML
6,Name,Name,fails4,fails4,2020-08-01 22:08:00,Yes,14.0,NaN,NaN,Your submission was successfully received and ...,HTML
7,Name,Name,fails3ab,fails3ab,2020-08-01 22:08:00,Yes,12.0,NaN,NaN,Your submission was successfully received and ...,HTML

## Upload to Blackboard File 

TBD: Flag student submissions which aren't in the roster file.

Upload the `/output/course/assignment/upload.csv` and you are done.